<a href="https://colab.research.google.com/github/LorenFiorini/BitBot/blob/main/glassnode_0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import json
import requests
import pandas as pd

In [ ]:

# insert your API key here
API_KEY = '2AUsMkE5SzpvW42rumZBkfiF1Kq'

# make API request
res = requests.get('https://api.glassnode.com/v1/metrics/indicators/sopr',
    params={'a': 'BTC', 'api_key': API_KEY})

# convert to pandas dataframe
df = pd.read_json(res.text, convert_dates=['t'])

In [ ]:
df.tail(10)

              t         v
4338 2022-06-02  0.984505
4339 2022-06-03  0.993358
4340 2022-06-04  0.989313
4341 2022-06-05  0.997125
4342 2022-06-06  0.997737
4343 2022-06-07  0.990219
4344 2022-06-08  0.996493
4345 2022-06-09  0.988298
4346 2022-06-10  0.994310
4347 2022-06-11  0.992124

In [ ]:
cnt = sum(val > 1for val in df['v'])
print(cnt)

mx = max(val for val in df['v'])
mn = min(val for val in df['v'])

print(mn, mx)

2806
0.647490938934529 1.89620853223028

In [ ]:
# List of metrics

res_m = requests.get('https://api.glassnode.com/v2/metrics/endpoints')
ls_m = list(res_m)

for a in ls_m:
    print(a)

b'<html>\r\n<head><title>401 Authorization Required</title></head>\r\n<body>\r\n<center><h1>401 Authorization Required</h1></center>\r\n<h'
b'r><center>nginx</center>\r\n</body>\r\n</html>\r\n'

In [ ]:
# List of assets

res_as = requests.get('https://api.glassnode.com/v1/metrics/assets')
ls_as = list(res_as)

for a in ls_as:
    print(a)

b'<html>\r\n<head><title>401 Authorization Required</title></head>\r\n<body>\r\n<center><h1>401 Authorization Required</h1></center>\r\n<h'
b'r><center>nginx</center>\r\n</body>\r\n</html>\r\n'